<!-- extend base.html -->
{% extends "base.html" %}
{% load static %}

<!-- include the block title here -->
{% block title %} Home Page {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


<!-- Main content -->
{% block content %}
    <section class="hero-section">

        <div class="hero-text">
            <p>Hi! I'm <span>Ifeanyi Victor, </span><span> A Full-Stack Developer.</span> </p>
            <h1> <span class="hero-h1"> Creative Solution.</span></h1>
            <h3>Real Impact</h3>
            <p>Building scalable applications that solve real-world problems.</p>

            <div class="call-to-action-btn">
                <button type="sumbit" class="btn-hero">
                    <a href="#">View Portfolio</a>
                </button>
                
                <button type="submit" class="btn-hero2">
                    <a href="#">Contact me</a>
                </button>
            </div>
        </div>



        <div class="hero-image">
            <img src="{% static "images/hero.JPG" %}" alt="hero image">
        </div>
        
    </section>
{% endblock content %}

{% block script %}
    <script type="module" src="{% static 'js/home.js' %}" defer></script>
{% endblock %}