
{% extends "base.html" %}
{% load static %}

<!-- define the title of the webpage-->
{% block title %} Portfolios {% endblock %}

<!--provide extra css file-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/portfolio.css" %}">
{% endblock %}

<!--Main content -->
{% block content %}
    <section class="container-portfolio">

        <div class="top">

            <div class="layer1">
                <svg stroke="currentColor" fill="none" stroke-width="2"
                    viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="24" width="24"
                    xmlns="http://www.w3.org/2000/svg"><circle cx="12"
                    cy="8" r="6"></circle>
                    <path d="M15.477 12.89 17 22l-5-3-5 3 1.523-9.11"></path>
                </svg>

                <h2>Experience</h2>
                <p><small>2 years of Learning</small></p>
            </div>

            <div class="layer2">
                <svg stroke="currentColor" fill="currentColor"
                    stroke-width="0" viewBox="0 0 16 16" height="24"
                    width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5 4H11V2.5l-.5-.5h-5l-.5.5V4H1.5l-.5.5v8l.5.5h13l.5-.5v-8l-.5-.5zM6 3h4v1H6V3zm8 2v.76L10 8v-.5L9.51 7h-3L6 7.5V8L2 5.71V5h12zM9 8v1H7V8h2zm-7 4V6.86l4 2.29v.35l.5.5h3l.5-.5v-.31l4-2.28V12H2z"></path>
                </svg>

                <h2>Completed</h2>
                <p><small>4+ projects</small></p>
            </div>

            <div class="layer3">
                <svg stroke="currentColor" fill="currentColor"
                    stroke-width="0" viewBox="0 0 24 24" height="24" width="24"
                    xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.486 2 2 6.486 2 12v4.143C2 17.167 2.897 18 4 18h1a1 1 0 0 0 1-1v-5.143a1 1 0 0 0-1-1h-.908C4.648 6.987 7.978 4 12 4s7.352 2.987 7.908 6.857H19a1 1 0 0 0-1 1V18c0 1.103-.897 2-2 2h-2v-1h-4v3h6c2.206 0 4-1.794 4-4 1.103 0 2-.833 2-1.857V12c0-5.514-4.486-10-10-10z"></path>
                </svg>

                <h2>Support</h2>
                <p><small>online 24/7</small></p>
            </div>
        </div>

        <div class="list-portfolio">
            <div class="box" id="box1">

                <a href="https://github.com/MahoneyT1/Pizza_Rush.git" target="_blank">View
                    <img src="{% static "images/pizza_rush.PNG" %}" alt="portforlio projects" >

                </a>
                
            </div>

            <div class="box">
                Loading .....
            </div>
            <div class="box">Loading ...</div>
            <div class="box">Loading ...</div>
        </div>
       
 
    </section>
{% endblock content %}

