asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.1.5
django-livereload==1.7
django-livereload-server==0.5.1
django-stubs==5.1.2
django-stubs-ext==5.1.2
soupsieve==2.6
sqlparse==0.5.3
tomli==2.2.1
tornado==6.4.2
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
gunicorn
python-dotenv