{% extends "base.html" %}
{% load static %}

<!-- input the page title -->
{% block title %} About Me {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

<!-- Component area (main)-->
{% block content %}

    <!-- About Me Section -->
    <section class="container">

        <div class="about-me">
            <div class="about-me-img">
                <img src="{% static "/images/aboutme.jpg" %}" alt="about me image">
            </div>
    
            <div class="about-me-text">
                <div class="text-style">
                    <h1>About Me</h1>

                    <p>
                        Hi, I'm <span>Ifeanyi Victor</span>, <br> A passionate Full-Stack Developer with expertise
                        in Python, JavaScript, Django, HTML, and CSS. I specialize in building high-performance,
                        scalable, and user-friendly web applications that solve real-world problems. With a keen
                        eye for detail and a deep understanding of backend logic and frontend aesthetics, I create
                        seamless digital experiences.
                    </p>
                </div>
   
        </div>
    </section>

    <section class="skills-container">
        <div class="tech-stack">
            <ul class="stacks">
                <li><img src="https://simpleicons.org/icons/python.svg" alt="Python Icon" style="width: 70px; height: 60px;" class="add-color"></li>
                <li><img src="https://simpleicons.org/icons/css3.svg" alt="CSS3 Icon" style="width: 70px; height: 60px" class="add-color" ></li>
                <li><img src="https://simpleicons.org/icons/django.svg" alt="django" style="width: 70px; height: 60px;" class="add-color"></li>
                <li><img src="https://simpleicons.org/icons/express.svg" alt="Express" style="width: 70px; height: 60px" class="add-color"></li>
                <li><img src="https://simpleicons.org/icons/react.svg" alt="React" style="width: 70px; height: 60px" class="add-color"></li>
                <li><img src="https://simpleicons.org/icons/github.svg" alt="CSS3 Icon" style="width: 70px; height: 60px" class="add-color"></li>
            </ul>
        </div>

        <div class="story">
            <div class="list-of-stack">
                <div class="frontend">
                    <h2>Frontend</h2>
                    <ul>
                        <li>HTML</li>
                        <li>Css</li>
                        <li>JavaScript</li>
                        <li>React</li>
                    </ul>
                </div>

                <div class="backend">
                    <h2>Backend</h2>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>rest_framework</li>
                        <li>node.js</li>
                        <li>C</li>
                        <li>Flask</li>
                    </ul>
                </div>
            </div>

            <div class="design-story">
                <h1>Story</h1>
                <p>
                    A passionate and results-driven software engineer with a strong foundation in
                    backend and full-stack development. My journey in tech began with C programming, which
                    gave me a solid understanding of low-level computing and problem-solving. Over time,
                    I expanded my expertise to Python, JavaScript, Express.js, HTML, and CSS, allowing me
                    to build scalable and efficient web applications.
                </p>
    
                <p>
                    My preferred tech stack revolves around Django and Django REST Framework, which I consider
                    my strongest skills. However, I also have experience working with Flask for lightweight
                    applications. On the database side, I have worked with MySQL, PostgreSQL, Redis, and
                    MongoDB, and Github leveraging them to build optimized and high-performing systems.
                </p>
    
                <p>
                    Currently, I am learning React to enhance my frontend development skills and create
                    dynamic, interactive user experiences. My journey in software engineering has been shaped
                    by hands-on experience and structured learning, including my time at ALX Africa, where I
                    completed an intensive bootcamp focused on software development and real-world projects.
                </p>
    
                <p>
                    I am always eager to learn, explore new technologies, and build innovative solutions.
                    Whether it’s designing APIs, optimizing databases, or developing full-stack applications,
                    I thrive on solving complex problems and delivering high-quality software.
                </p>
            </div>

        </div>
        
    </section>


{% endblock %}

<!-- -->
